p, h3, h4 {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

p::first-letter {
    font-size: 1.5em;
}

ul#pie {
    padding: 0;
    margin: 0;
}

#pie {
    background-color: #333;
    list-style-type: none;
    bottom: 0;
}

.pie {
    text-align: center;
    margin: 0;
    padding: 0;
    float: none;
}

.pie a {
    padding: 10px 0px;
    display: block;
    color: white;
    font-size: 1em;
}

div.pie {
    padding-top: 20px;
    margin-top: 5px;
}

#cabecera {
    list-style-type: none;
    overflow: hidden;
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

li.cabecera {
    list-style-type: none;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

li a:hover:not(.MiWeb) {
    background-color: skyblue;
    color: black;
    text-decoration: none;
}

li a.MiWeb:hover {
    text-decoration: none;
    color: black;
}

.MiWeb {
    background-color: red;
}

#carouselExampleIndicators {
    z-index:0;
}

.carrusel {
    text-align: center;
    background-color: aquamarine;
}

.i-carrusel {
    height: 300px;
    width: 600px;
    display: block;
    margin: auto;
}

#mapa {
    padding-bottom: 10px;
}

div h1 {
    margin: 0;
}

#titulo-CV {
    margin: 
}

#patron {
    width: 100%;
    height: 125px;
}
#cabecera-cv {
    position: relative;
    display: inline-block;
}

#titulo-cv {
    position: absolute;
    top: 16px;
    left: 25%;
    font-size: 3em;
    color: darkblue;
}

#fotocv {
    position: absolute;
    top: 15px;
    left 7%;
    width: 90px;
    height: 90px;
}

#contenido-cv {
    margin-left: 20px;
    margin-top: 30px;
}

div.lista {
    clear: both;
    overflow: auto;
}

div.lista p {
    width: 50%;
}

iframe.lista {
    float: right;
    padding-bottom: 15px;
    padding-top: 10px;
}

td img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

table#tabla-juegos,  table#tabla-juegos td, table#tabla-juegos th, table#tabla-juegos tr{
    border-collapse: collapse;
    border: 1px solid black;
    padding-left: 10px;
}

#tabla-juegos {
    margin: 10px;
}

h4.musica {
    color: red;
}

.carousel-inner {
    background-color: black;
}








/*Media query*/

@media (min-width:890px) {
    .i-carrusel {
        height: 400px;
        width: 800px;
    }
    
    #patron {
       width: 160%; 
    }
}

@media (min-width:451px) and (max-width:650px) {
    
    .i-carrusel {
        height: 200px;
        width: 400px;
    }
    
    #cabecera {
        justify-content: space-around;  
        margin: 0;
        padding: 0;
    }
    
    li.cabecera {
        float: none;
    }
    
    .carrusel, #cabecera-cv, #titulo-lista, #titulo-musica {
        margin-top: 105px;
    }
    
    iframe.lista {
        width: 350px;
        height: 197px;
    }
}

@media (max-width:450px){
   
    h1.carrusel {
        font-size: 2em;
    }
    .i-carrusel {
        height: 150px;
        width: 300px;
    }
    
    #cabecera {
        justify-content: space-around;  
        margin: 0;
        padding: 0;
    }
    
    li.cabecera {
        float: none;
    }
    
    .carrusel, #cabecera-cv, #titulo-lista, #titulo-juegos, #titulo-musica {
        margin-top: 105px;
    }
    
    iframe.lista {
        width: 280px;
        height: 157px;
    }
}

